<div class="top-bar"></div>

<div class="container">
  <img id="spinningImage" class="spinning" src="shaytris-logo.svg" alt="Your Image Description">
</div>

<div class="bottom-bar"></div>

<div class="overlay" id="settingsOverlay"></div>
